<p id="notice"><%= notice %></p>

<p>
  <strong>review id:</strong>
  <%= @review.id %>
</p>

<p>
  <strong>content</strong>
  <%= @review.content %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<%= link_to 'Back', restaurants_path %>
